/* app css stylesheet */
body {
	margin-top: 80px;
	margin-bottom: 0px;
}
.page-header {
	margin-top: 0px;
}

.panel-body {
	padding-top: 0;
}
.activeTravel {
	background-color: rgb(66, 139, 202);
}
.featuredImg {
	margin-bottom: 15px;
}
.travels {
  list-style: none;
}
.list-group-item {
	margin-bottom: 15px;
}
.left {
	float: left;
	margin: 0 .5em .5em 0;
}
.right {
	float: right;
	margin: 0 0 .5em .5em;
}
.gray-link > a {
    color: #999999;
}
.gray-link > a:hover {
    color: #666666;
}
.gray-link.active > a {
    color: #ffffff;
}
.gray-link.active > a:hover {
    color: #666666;
}
.angular-google-map-container {
	height: 540px;
}
.marker-labels {
    color: blue;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.mapinfowindow {
	font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
}

#uploadPhotosTravel .modal-dialog
{
  width: 1050px;
}
.modal-large .modal-dialog {
  width: 90%;
}
.panel .panel-thumbnail {
  padding:0;
}
.panel-thumbnail {
  height: 180px;
  overflow:hidden;
}
.panel-img {
  max-width: 100%;
  height: auto;
}
.panel-body-dark {
  background-color: #e0e0e0;
}
.isbold {
  font-weight:bold;
}
.ellipsistext {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
.photoselected {
  border-width:5px;
  border-style:solid;
  border-color:#428bca;
}
.map-window {
	color:rgb(66, 139, 202);
}
.marker-labels {
	color:rgb(66, 139, 202);
}