<div ng-controller="UpdateTravelCtrl" class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4>Update Travel</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="contact-update-country" class="col-lg-2 control-label">Country:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-update-country" placeholder="Country" ng-model="currentTravel.country">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-update-year" class="col-lg-2 control-label">Year:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-update-year" placeholder="2014" ng-model="currentTravel.year">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-update-name" class="col-lg-2 control-label">Name:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-update-name" placeholder="Name"  ng-model="currentTravel.name">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-update-description" class="col-lg-2 control-label">Description:</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="8" id="contact-update-description" ng-model="currentTravel.description"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button class="btn btn-primary" ng-click="updateTravel(currentTravel)" data-dismiss="modal">Update</button>
				</div>
			</form>
		</div>
</div>