<!doctype html>
<html lang="en" ng-app="travelApp">
<head>
<meta charset="utf-8">
<title>My Travels</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- In production use:
  <link href="dist/css/bootstrap.min.css" rel="stylesheet">
  -->
<link href="dist/css/bootstrap.css" rel="stylesheet">
<link href="css/app.css" rel="stylesheet">
</head>
<body  ng-controller="TravelListCtrl">

 	<!-- ========================================================================================== -->
 	<!-- Collapsing Nav Bar                                                                         -->
 	<!-- ========================================================================================== -->
 	<div class="navbar navbar-inverse navbar-static-top">
 		<div class="container">
 			<a href="#" class="navbar-brand"><img src="img/Logo.jpg" height="20px"> My Travels</a>
 			
 			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 			</button>
 			
 			<div class="collapse navbar-collapse navHeaderCollapse">
 				<ul class="nav navbar-nav navbar-right">
 					<li class="active"><a href="#">Home</a></li>
 					<li><a href="#">Blog</a></li>
 					<li class="dropdown">
 						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
 						<ul class="dropdown-menu">
 						<li><a href="#">Twitter</a></li>
 						<li><a href="#">Facebook</a></li>
 						<li><a href="#">Google+</a></li>
 						<li><a href="#">Instagram</a></li>
 						</ul>
 					</li>
 					<li><a href="#">About</a></li>
 					<li><a href="#contact" data-toggle="modal">Contact</a></li>
 				</ul>
 			</div>

 		</div>
 	</div>
 	
  	<!-- ========================================================================================== -->
 	<!-- Alerts                                                                                     -->
 	<!-- ========================================================================================== -->
 	<!-- div class="alert alert-warning alert-dismissable">
  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</div -->
 
  	<!-- ========================================================================================== -->
 	<!-- Articles                                                                                   -->
 	<!-- ========================================================================================== -->
 	<div class="container">
	 	<div class="row">
		  	<!-- ========================================================================================== -->
		 	<!-- Main article                                                                               -->
		 	<!-- ========================================================================================== -->
	 		<div class="col-lg-9">
	 			<div class="panel panel-default">
	 				<div class="panel-body">
	 					<div class="page-header">
	 						<h3>{{selectedTravel.name}} - <small>{{selectedTravel.year}}</small></h3>	
	 					</div>
	 					
						<!-- Map with itinerary -->
						<google-map center="map.center" zoom="map.zoom"
							bounds="map.bounds" events="map.events" options="map.options">
							<marker ng-repeat="marker in map.markers" coords="marker" icon="marker.icon" click="onMarkerClicked(marker)">
								<marker-label content="marker.title" anchor="22 0" class="marker-labels" /> 
								<window  show="marker.showWindow" closeClick="marker.closeClick()">
									<div class="modal-content mapinfowindow" style="border:0px">
										<div class="modal-body">
											<h4>{{marker.title}}</h4>
											<p style="color:blue">{{marker.description}}</p>
										</div>
										<div class="modal-footer">
	 										<button>More info</button>
	 									</div>
									</div>
								</window>
							</marker>
						</google-map>

						<!--  Description and stops -->
						<div>
							<h4 style="margin-top:20px;margin-bottom:20px">{{selectedTravel.description}}</h4>
							<h4>Itinerary</h4>
							<div ng-repeat="marker in map.markers">
								<h5><b>{{marker.title}}:</b></h5>
								<p>{{marker.description}}</p>
								<div class="gray-link" style="text-align: right;">
									<a ng-click="setEditStop(marker)" href="#updateStop" data-toggle="modal"> <i
										class="glyphicon glyphicon-edit"></i>
									</a>
								</div>
							</div>
						</div>

	 					<!--  Carousel -->
	 					<div id="travelCarousel" class="carousel" style="margin-top:20px">
	 						<!--  Indicators -->
	 						<ol class="carousel-indicators">
	 							<li data-target="#travelCarousel" ng-repeat="image in selectedTravel.images | filter:{inCarousel:true}" data-slide-to="{{$index}}" 
	 							    ng-class="{'active': $index == 0, '': $index != 0}">							
	 						</ol>
	 						
	 						<!--  Images -->
	 						<div class="carousel-inner">
	 							<div ng-class="{'item active': $index == 0, 'item': $index != 0}" ng-repeat="image in selectedTravel.images | filter:{inCarousel:true}">
	 								<center><img src="{{image.url}}" alt="{{image.title}}" class="img-responsive" width="100%"></center>
	 								<div class="carousel-caption">
	 									<h3>{{image.title}}</h3>
	 									<p>{{image.description}}</h3>
	 								</div>
	 							</div>
	 						</div>
	 						
	 						<!--  Control -->
	 						<a class="left carousel-control" href="#travelCarousel" data-slide="prev">
	 							<span class="icon-prev"></span>
							</a>
							<a class="right carousel-control" href="#travelCarousel" data-slide="next">
								<span class="icon-next"></span>
							</a>
	 					</div>
						<!-- img class="featuredImg" src="{{selectedTravel.images[0].url}}" width="100%" -->
					</div>
				</div>
	 		</div>
	 		
		  	<!-- ========================================================================================== -->
		 	<!-- Articles sidebar                                                                           -->
		 	<!-- ========================================================================================== -->
	 		<div class="col-lg-3">
				<!--  Add new travel  -->
				<a style="margin-left: 10px; font-size: 14px; display: inline-block;" ng-click="setAddTravel()" href="#addTravel" data-toggle="modal"> 
					<i class="glyphicon glyphicon-plus-sign"></i> Add Travel
				</a>
				
				<div class="list-group">
	 				<!-- a href="#" class="list-group-item" ng-repeat="travel in filtered = (travels | excludeSelectedTravelFilter:selectedTravel)"-->
	 				<div class="list-group-item" ng-repeat="travel in travels | orderBy:orderProp:true">
		 				<a href="#" class="list-group-item"  style="border:0px;padding:0;margin-bottom:0" ng-click="setSelectedTravel(travel);">
		 					<h4 class="list-group-item-heading">{{travel.year}} - {{travel.name}}</h4>
		 					<p class="list-group-item-heading" style="overflow:auto">
		 						<img  src="{{travel.images[0].url}}" width="30%" class="left"> {{travel.description}}</img>
		 					</p>
		 				</a>
						<div class="gray-link" style="text-align: right;">
							<a ng-click="setRemoveTravel(travel)" href="#removeTravel" data-toggle="modal"> <i
								class="glyphicon glyphicon-trash"></i>
							</a>
							<a ng-click="setUpdateTravel(travel)" href="#updateTravel" data-toggle="modal"> <i
								class="glyphicon glyphicon-pencil"></i>
							</a>
						</div>
						<!-- a href="#" class="btn btn-default pull-right">Read More</a -->
	 				</div>
	 			</div>	 			
	 		</div>
	 	</div>
	 </div>
	 
   	<!-- ========================================================================================== -->
 	<!-- ========================================================================================== -->
 	
 	<!-- ========================================================================================== -->
 	<!-- Sticky footer that stays in the browser viewport                                           -->
 	<!-- ========================================================================================== -->
 	<div class="navbar navbar-default navbar-fixed-bottom">
 		<div class="container">
 			<p class="navbar-text pull-left">Site Built By A. Doueb</p>
 			<!-- a href="http://www.google.fr" class="navbar-btn btn-danger btn pull-right">Goto Google</a -->
 		</div>
 	</div>
 	
  	<!-- ========================================================================================== -->
 	<!-- Add travel dialog                                                                          -->
 	<!-- ========================================================================================== -->
 	<div class="modal fade" id="addTravel" role="dialog" tabindex="-1">
 		<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4>Add Travel</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger alert-dismissable" ng-show="showAddTravelError">
		  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  				<strong>Error!</strong> The travel can't be added.
					</div>
					
					<div class="form-group">
						<label for="contact-new-country" class="col-lg-2 control-label">Country:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-new-country" placeholder="Country" ng-model="newTravel_country">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-new-year" class="col-lg-2 control-label">Year:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-new-year" placeholder="2014" ng-model="newTravel_year">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-new-name" class="col-lg-2 control-label">Name:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-new-name" placeholder="Name"  ng-model="newTravel_name">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-new-description" class="col-lg-2 control-label">Description:</label>
						<div class="col-lg-10">
							<textarea class="form-control" id="contact-new-description" rows="8" ng-model="newTravel_description"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button class="btn btn-primary" ng-click="addTravel()">Create</button>
				</div>
			</form>
		</div>
	</div>
 	</div>
 	
  	<!-- ========================================================================================== -->
 	<!-- Update travel dialog                                                                       -->
 	<!-- ========================================================================================== -->
 	<div class="modal fade" id="updateTravel" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4>Update Travel</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger alert-dismissable" ng-show="showUpdateTravelError">
		  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  				<strong>Error!</strong> The travel can't be updated.
					</div>
					
					<div class="form-group">
						<label for="contact-update-country" class="col-lg-2 control-label">Country:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-update-country" placeholder="Country" ng-model="currentTravel.country">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-update-year" class="col-lg-2 control-label">Year:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-update-year" placeholder="2014" ng-model="currentTravel.year">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-update-name" class="col-lg-2 control-label">Name:</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="contact-update-name" placeholder="Name"  ng-model="currentTravel.name">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-update-description" class="col-lg-2 control-label">Description:</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="8" id="contact-update-description" ng-model="currentTravel.description"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button class="btn btn-primary" ng-click="updateTravel(currentTravel)">Update</button>
				</div>
			</form>
		</div>
</div> 	</div>
 	
  	<!-- ========================================================================================== -->
 	<!-- Delete travel dialog                                                                       -->
 	<!-- ========================================================================================== -->
 	<div class="modal fade" id="removeTravel" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4>Delete Travel</h4>
					</div>
					<div class="alert alert-danger alert-dismissable" ng-show="showDeleteTravelError">
		  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  				<strong>Error!</strong> The travel can't be deleted.
					</div>
							
					<div class="modal-body">
						Do you really want to delete the "{{currentTravel.name}}" travel ?
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">No</a>
						<button class="btn btn-primary" ng-click="deleteTravel(currentTravel)">Yes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
 	
  	<!-- ========================================================================================== -->
 	<!-- Contact dialog                                                                             -->
 	<!-- ========================================================================================== -->
 	<div class="modal fade" id="contact" role="dialog" tabindex="-1">
 		<div class="modal-dialog">
 			<div class="modal-content">
 				<form class="form-horizontal">
	 				<div class="modal-header">
	 					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	 					<h4>Contact My Travels</h4>
	 				</div>
	 				<div class="modal-body">
	 					<div class="form-group">
	 						<label for="contact-email" class="col-lg-2 control-label">E-mail:</label>
	 						<div class="col-lg-10">
	 							<input type="email" class="form-control" id="contact-email" placeholder="you@example.com" ng-model="email.address">
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<label for="contact-subject" class="col-lg-2 control-label">Subject:</label>
	 						<div class="col-lg-10">
	 							<input type="text" class="form-control" id="contact-subject" placeholder="Subject"  ng_model="email.subject">
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<label for="contact-message" class="col-lg-2 control-label">Message:</label>
	 						<div class="col-lg-10">
	 							<textarea class="form-control" rows="8" ng-model="email.body"></textarea>
	 						</div>
	 					</div>
	 				</div>
	 				<div class="modal-footer">
	 					<a class="btn btn-default" data-dismiss="modal">Close</a>
	 					<button class="btn btn-primary" ng-click="sendEmail();" data-dismiss="modal">Send</button>
	 				</div>
 				</form>
 			</div>
 		</div>
 	</div>
 	
  	<!-- ========================================================================================== -->
 	<!-- Edit stop                                                                                -->
 	<!-- ========================================================================================== -->
 	<div class="modal fade" id="updateStop" role="dialog" tabindex="-1">
 		<div class="modal-dialog">
 			<div class="modal-content">
 				<form class="form-horizontal">
	 				<div class="modal-header">
	 					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	 					<h4>Update Stop</h4>
	 				</div>
	 				<div class="modal-body">
						<div class="alert alert-danger alert-dismissable" ng-show="showEditStopError">
			  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  				<strong>Error!</strong> The stop can't be updated.
						</div>

	 					<div class="form-group">
	 						<label for="stop-update-title" class="col-lg-2 control-label">Title:</label>
	 						<div class="col-lg-10">
	 							<input type="text" class="form-control" id="stop-update-title" placeholder="Title"  ng-model="currentStop.title">
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<label for="stop-update-description" class="col-lg-2 control-label">Description:</label>
	 						<div class="col-lg-10">
	 							<textarea class="form-control" rows="8" id="stop-update-description" ng-model="currentStop.description"></textarea>
	 						</div>
	 					</div>
	 				</div>
	 				<div class="modal-footer">
	 					<a class="btn btn-default" data-dismiss="modal">Close</a>
	 					<button class="btn btn-primary" ng-click="updateStop(currentStop)">Update</button>
	 				</div>
 				</form>
 			</div>
 		</div>
 	</div>
 	 
  	<!-- ========================================================================================== -->
 	<!-- Libraries                                                                                  -->
 	<!-- ========================================================================================== -->
 	<!-- Placed at the end of the document so the pages load faster -->
	<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
    <!-- script src="http://code.jquery.com/jquery-latest.js"></script -->
	<script src="dist/js/jquery-latest.js"></script>
	<!-- In production use:
    <script src="dist/js/bootstrap.min.js"></script>
  -->
    <script src="dist/js/bootstrap.js"></script>
    <!-- script src="http://cdn.jsdelivr.net/restangular/latest/restangular.js"></script -->
    <script src="dist/js/restangular.js"></script>
	<!-- script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script -->
	<!-- script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script -->
	<script type="text/javascript" src="dist/js/underscore-min.js"></script>
	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
	<script type="text/javascript" src="dist/js/angular-google-maps.js"></script>
	<!--script src="https://raw.github.com/nlaplante/angular-google-maps/master/dist/angular-google-maps.min.js" type="text/javascript"></script-->
	
    </body>
</html>
